
<center>
<h2 style="color:blue;text-decoration:underline">ajouter un produit</h2>
<fieldset style="width:20px">
<legend>Produit</legend>
        
        <form method="post" action="http://localhost:3000/product/addProduct">

                Libelle:<input type="text" name="Libelle">
                <br>
                Prix:<input type="number" name="Prix">
                <br>
                Description:<input type="text" name="Description">
                <br>
                Quantite:<input type="number" name="Quantite">
                <br>
                <button style="background-color:green;collor:white">ajouter produit</button>
        </form>
        </fieldset>
        
</center>